{% extends "main/base.html"%}
{% block content%}
<h4 title="{{name}}">{{name}}/</h4>
<div class="box-container">
    {%for c in mob%}
  <div class="box" onclick="document.location='{% url 'main:viewimage' id c.id %}'">
      <div class="first-box-container">
          <a href="{% url 'main:viewimage' id c.id %}" class="anchor_icon">
              <i class="fa-solid fa-folder"></i>
          </a>
      </div>
      <div class="second-box-container">
          <div class="folder-name">
              <h4 title="{{c}}">{{c}}</h4>
          </div>
          <div class="download-folder">
            <a href="{% url 'main:cropedimages' id c.id %}" class="anchor_icon_2">
                <i class="fas fa-crop"></i>
            </a>
        </div>
      </div>
  </div>
  {% endfor %}
</div>
<script>
    var boxes = document.getElementsByClassName("box");
    for (var i = 0; i < boxes.length; i++) {
        boxes[i].addEventListener("mouseover", function() {
            this.getElementsByClassName("anchor_icon")[0].innerHTML = "<i class='fa-solid fa-folder-open'></i>";
        });
        boxes[i].addEventListener("mouseout", function() {
            this.getElementsByClassName("anchor_icon")[0].innerHTML = "<i class='fa-solid fa-folder'></i>";
        });
    }
</script>
{% endblock %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <ul class="list-group list-group-flush">
                {% for c in cat %}
                <li class=" list-group-item">
                    <a href="">
                        {{c.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h6>Model Name: {{name}}</h6>
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>   
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {%for c in mob%}
                      <tr>
                        <td scope="row">{{c}}</td>
                        <td><a href="{% url 'main:viewimage' id c.id %}" type="button" class="btn btn-outline-secondary">Open</a></td>
                      </tr>
                    {% endfor %}
      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>