{% extends "main/base.html"%}
{% load static%}

{% comment %}
{% load crispy_forms_tags %}
{% endcomment %}

{% block content%}

<div class="parent">
    <div class="div21">
        {% for ph in samsung %}
        <div class="selected-competitor">
            <div class="selected-competitor-first-half">
                <div class="selected-competitor-name">
                    <h5>{{ph.cname}}</h5>
                </div>
            </div>
            <div class="selected-competitor-second-half" style="overflow: scroll;">
                <div class="selected-competitor-img">
                    <img id="image0" src="{{ph.image.url}}" class="each-selected-competitor-img" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% comment %}
    {{ testing }}
    {% for i in testing %}
    <img src="{{ i.image.url }}" alt="" width="50px">
    {% endfor %}
    {% endcomment %}

    <!-- <div class="div-scroll-horizontal"> -->
        <div class="div22">    
            {% for ph in photo %}
            <div class="selected-competitor">
                <div class="selected-competitor-first-half">
                    <div class="selected-competitor-name">
                        <h5>{{ph.cname}}</h5>
                    </div>
                </div>
                <div class="selected-competitor-second-half" style="overflow: scroll;">
                    <div class="selected-competitor-img" >
                        <img id="image{{ forloop.counter }}" src="{{ph.image.url}}" class="each-selected-competitor-img" alt="">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <!-- </div> -->
    
    <!-- <div class="div23">
        {% for photo in photo2 %}
        <div class="selected-competitor">
            <div class="selected-competitor-first-half">
                <div class="selected-competitor-name">
                    <h5>{{photo.cname}}</h5>
                </div>
            </div>
            <div class="selected-competitor-second-half" style="overflow: scroll;">
                <div class="selected-competitor-img">
                    <img id="image3" src="{{photo.image.url}}" class="each-selected-competitor-img" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->
    <div class="div23">
        <div class="editor-second-container">
            <div class="editor-framework">
                <!-- <div class="highlighter">
                    <div id="highlighter">
                        <i class="fa-solid fa-pen-clip"></i> highlighter
                    </div>
                </div> -->
                <!-- <div class="icon-tools">
                    icon tools
                </div>
                <div class="shape-fill-func">
                    Shape Fill
                </div>
                <div class="shape-outline-func">
                    Shape Outline Fill
                </div>
                <div class="shape-effect-func">
                    Shape Effect
                </div> -->
                <form action="{% url 'main:photocrop' mid cid %}" method="post">
                    {% csrf_token %} 
                    <select class="form-select " id='selectedimage' name ='selectedimage'>
                        <option value="-1" default>Select image to crop</option>
                        {% for ph in samsung %}
                        <option value="{{ph.id}}">{{ph.cname}}{{ph.id}}</option>
                        {% endfor %}
                        {% for photo in photo1 %}
                        <option value="{{photo.id}}">{{photo.cname}}{{photo.id}}</option>
                        {% endfor %}
                        {% for photo in photo2 %}
                        <option value="{{photo.id}}">{{photo.cname}}{{photo.id}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-outline-secondary mx-3 my-4"><i class="fas fa-crop"></i> Crop
                    </button>
                </form>
                <div class="crop-selected-image-func">
                    <div id="crop-image">
                        <i class="fa-solid fa-crop-simple"></i>
                    </div>
                    <div class="crop-img-text">
                        Crop Image
                    </div>
                </div>
                <!-- <div class="ratio-info-func">
                    1 : 1
                </div> -->
                <div class="zoom-in-out-func">
                    <div class="zoom-out" id="zoomout" style="cursor: pointer;">
                        <div class="zoom-out-icon">
                            <i class="fa-solid fa-magnifying-glass-minus"></i>
                        </div>
                        <div class="zoom-out-text">
                            Zoom Out
                        </div>
                    </div>
                    <div class="zoom-in"  id="zoomin" style="cursor: pointer;">
                        <div class="zoom-in-icon">
                            <i class="fa-solid fa-magnifying-glass-plus"></i>
                        </div>
                        <div class="zoom-in-text">
                            Zoom In
                        </div>
                    </div>
                </div>
                <div class="add-result-func">
                    <div class="">
                        <button id="add-result" class="add-result-btn">Add Result</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for c in cmmt %}
{{c.comment|safe}}
{% endfor%}

<div id="myModal" class="modal">
  <div class="model-container">
    <div class="modal-content">
      <span id="close-model" class="close">&times;</span>
      <form action="" method="POST" class="comment-form">
        {{ form.media }}
        {% csrf_token %}
        <div class="div-name">
            <label for="">Name</label>
            {{form.name}}
            <!-- <input type="text" name="name" id="id_" placeholder="Name" required> -->
        </div>
        <div class="div-name">
            <label for="">Select Image to Crop</label>
            <select class="form-select " id='selectedimage' name ='selectedimage'>
                <option value="-1" default>Select image to crop</option>
                {% for ph in samsung %}
                <option value="{{ph.id}}">{{ph.cname}}{{ph.id}}</option>
                {% endfor %}
                {% for photo in photo1 %}
                <option value="{{photo.id}}">{{photo.cname}}{{photo.id}}</option>
                {% endfor %}
                {% for photo in photo2 %}
                <option value="{{photo.id}}">{{photo.cname}}{{photo.id}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="div-comment">
            <label for="">Comment</label>    
            {{form.comment}}
            <!-- <textarea name="comment" id="" cols="30" rows="10"></textarea> -->
        </div>
        <input type="submit" class="submit-form-comment" value="submit">
      </form>
    </div>
  </div>
</div>

<script>
    var modal = document.getElementById("myModal");
    var result_btn = document.getElementById("add-result");
    var span = document.getElementById("close-model");

    result_btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    document.addEventListener('DOMContentLoaded', function () {

    var a=1.0

    document.getElementById("zoomin").addEventListener("click", () => {
        if(a<=5.0)
        {
            document.getElementById("image0").style.transform=`scale(${a})`

            document.getElementById("image1").style.transform=`scale(${a})`

            document.getElementById("image2").style.transform=`scale(${a})`

            a=a+0.5
        }
        console.log(a)
    });

    document.getElementById("zoomout").addEventListener("click", () => {
        if(a>1.0)
        {
            a-=0.5
            console.log(a);
            document.getElementById("image0").style.transform=`scale(${a})`

            document.getElementById("image1").style.transform=`scale(${a})`

            document.getElementById("image2").style.transform=`scale(${a})`
        }
    });
    });
</script>

{% endblock %}

