{% extends "main/base.html"%}
{% block content%}
<div class="box-container">
  {%for n in mobile%}
  <div class="box" onclick="document.location='{% url 'main:category' n.id %}'">
      <div class="first-box-container">
          <a href="#" class="anchor_icon">
              <i class="fa-solid fa-folder"></i>
          </a>
      </div>
      <div class="second-box-container">
          <div class="folder-name">
              <h4 title="{{n}}">{{n}}</h4>
          </div>
          <div class="download-folder">
              <a href="{% url 'main:report' n.id %}" class="anchor_icon_2">
                  <i class="fa-solid fa-cloud-arrow-down"></i>
              </a>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
<script>
    var boxes = document.getElementsByClassName("box");
    for (var i = 0; i < boxes.length; i++) {
        boxes[i].addEventListener("mouseover", function() {
            this.getElementsByClassName("anchor_icon")[0].innerHTML = "<i class='fa-solid fa-folder-open'></i>";
        });
        boxes[i].addEventListener("mouseout", function() {
            this.getElementsByClassName("anchor_icon")[0].innerHTML = "<i class='fa-solid fa-folder'></i>";
        });
    }
</script>

{% endblock %}