{% extends "main/base.html"%}
{% block content%}
    <div>
      <canvas
          id="canvas"
          width="1000"
          height="500"
          style="border: 1px solid black;"
      ></canvas>
    </div>
    <div style="margin-top:5px">
      <span>Size: </span>
      <input
          type="range"
          min="1"
          max="50"
          value="25"
          class="size"
          id="sizeRange"
      />
    </div>
    <div style="margin-top:5px">
      <span>Color: </span>
      <input type="radio" name="colorRadio" value="black" checked />
      <label for="black">Black</label>
      <input type="radio" name="colorRadio" value="white" />
      <label for="black">White</label>
      <input type="radio" name="colorRadio" value="red" />
      <label for="black">Red</label>
      <input type="radio" name="colorRadio" value="green" />
      <label for="black">Green</label>
      <input type="radio" name="colorRadio" value="blue" />
      <label for="black">Blue</label>
    </div>
    <div style="margin-top:5px">
      <button id="clear" >Clear</button>
    </div>
    <div style="margin-top:5px" hidden>
      <button id="save" >Save</button>
    </div>
    <a id="download" download="myImage.jpg" href="" onclick="download_img(this);">
        <button>Save</button>
    </a>

    <br />
    <!-- {% for ph in photo %} -->
    
    <!-- <img id="upload" src="{{ph.imclage.url}}"/> -->
    <!-- <input id="upload" type="file" accept="image/*" value="{{ph.image.url}}"/>  -->
    <!-- {% endfor %} -->
    <p>
      Start drawing on the blank canvas, or upload an image and use the brush to
      draw on it
    </p>
    <script >
        // const fileInput = document.querySelector("#upload");
        // const fileInput = "/media/LOW_LIGHT_lbSgoR5.jfif"

// enabling drawing on the blank canvas
drawOnImage();
const image = document.createElement("img");
    // image.src = await fileToDataUri(file);
    {% for ph in photo %}
    image.src =  "{{ph.image.url}}";

    console.log(`{{ph.image.url}}`)
    var canvas = document.getElementById("canvas");


    download_img = function(el) {
    var image = canvas.toDataURL("image/jpg");
  el.href = image;
};

    {% endfor %}
    image.addEventListener("load", () => {
        drawOnImage(image);
    });

// fileInput.addEventListener("change", async (e) => {
//     const [file] = fileInput.files;

//     // displaying the uploaded image
//     const image = document.createElement("img");
//     // image.src = await fileToDataUri(file);
//     image.src =  "/media/LOW_LIGHT_lbSgoR5.jfif";
//     console.log(image)
//     // enabling the brush after after the image
//     // has been uploaded
//     image.addEventListener("load", () => {
//         drawOnImage(image);
//     });
//     return false;
// });

// function fileToDataUri(field) {
//     return new Promise((resolve) => {
//         const reader = new FileReader();

//         reader.addEventListener("load", () => {
//             resolve(reader.result);
//         });

//         reader.readAsDataURL(field);
//     });
// }

const sizeElement = document.querySelector("#sizeRange");
let size = sizeElement.value;
sizeElement.oninput = (e) => {
    size = e.target.value;
};

const colorElement = document.getElementsByName("colorRadio");
let color;
colorElement.forEach((c) => {
    if (c.checked) color = c.value;
});

colorElement.forEach((c) => {
    c.onclick = () => {
        color = c.value;
    };
});

function drawOnImage(image = null) {
    const canvasElement = document.getElementById("canvas");
    const context = canvasElement.getContext("2d");

    // if an image is present,
    // the image passed as parameter is drawn in the canvas
    if (image) {
        const imageWidth = image.width;
        const imageHeight = image.height;

        // rescaling the canvas element
        canvasElement.width = imageWidth;
        canvasElement.height = imageHeight;

        context.drawImage(image, 0, 0, imageWidth, imageHeight);
    }

    const clearElement = document.getElementById("clear");
    clearElement.onclick = () => {
        drawOnImage(image);
    };


    let isDrawing;

    canvasElement.onmousedown = (e) => {
        isDrawing = true;
        context.beginPath();
        context.lineWidth = size;
        context.strokeStyle = color;
        context.lineJoin = "round";
        context.lineCap = "round";
        context.moveTo(e.clientX, e.clientY);
    };

    canvasElement.onmousemove = (e) => {
        if (isDrawing) {
            context.lineTo(e.clientX, e.clientY);
            context.stroke();
        }
    };

    canvasElement.onmouseup = function () {
        isDrawing = false;
        context.closePath();
    };
}
    </script>
{% endblock %}
  